:root{
  /* value only used for the case of background with alpha */
  --egeria-primary-color-rgb: 113,204,220;
  --egeria-primary-color: rgb(var(--egeria-primary-color-rgb));

  --egeria-secondary-color: #24272a;
  --egeria-background-color: white;
  --egeria-stripes-color: #efefef;
  --egeria-icon-color: var(--egeria-primary-color);
  --egeria-button-ink-color: white;

  --egeria-view-margin:  0 24px;
  --egeria-view-min-height: calc(100vh - 110px);

  --app-background-color: #eeeeee;
  --app-logo-background: url(images/Logo_transparent.png) no-repeat top left;
  --app-logo-width: 256px;
  --app-logo-height: 64px;
  --app-logo-background-size: 120px auto;
}